* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-h1-p: 'Epilogue', sans-serif;
    --fonte-color-p: hsl(250, 50%, 80%);
    --fonte-color-h1: hsl(0, 0%, 100%);
    --background-body: hsl(237, 22%, 20%);
    font-size: 62.5%;
    --fonte-size-body: 1.6rem
}

body {
    font-family: var(--fonte-h1-p);
    background-color: var(--background-body);
    color: var(--fonte-color-h1);
    font-size: var(--fonte-size-body);
}

.page {
    max-width: 33.0rem;
    margin: 0 auto;
}

img {
    width: 100%;
}

header {
    font-family: var(--fonte-h1-p);
    text-align: center;
}

header p {
    color: var(--fonte-color-p);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10.8rem 0 1.7rem;
}

header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;
    margin-bottom: 8.0rem;
}